{% extends "crm/base.html" %}

{% block title %}
  Customer Information
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2>All Communications</h2>
    </div>
    <div class="col">
      <h2><a href="{% url 'communications-create-any' %}" type="button" class="btn btn-primary" style="float: right ;">Add Communication</a></h2>
    </div>

  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Communication Details</th>
        <th>Time </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for communication in communications %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ communication.customer }}</td>
        <td>{{ communication.comm_detail }}</td>
        <td>{{ communication.timestamp }}</td>
        <td> <a href="{% url 'communication-update' communication.pk %}" type="button" class="btn btn-primary">Update</a> </td>
        <td> <a href="{% url 'communication-delete' communication.pk %}" type="button" class="btn btn-warning">Delete</a> </td>
        <td> <a href="{% url 'send-email' communication.pk %}" type="button" class="btn btn-warning">Send Email</a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  

</div>  



{% endblock content %}

