{% extends "crm/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Login
{% endblock title %}

{% block content %}
  <h1>
      Login
  </h1> 
<div class="container">

    <form action="" method="post">
        {% csrf_token %}
        <!-- <div class="my-2">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

        </div>
        <div class="my-2">
            <label for="pass">Password</label>
            <input type="password" name="password" id="pass">

        </div> -->
        {{ form|crispy }}
        <div class="my-2">

            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
{% endblock content %}

